@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
    z-index: 1;
}

.form-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-logo i{
    font-size: 28px;
    color: #ffffff;
}

.form-logo span{
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 0.2px;
}

nav {
    display: flex;
    gap: 100px;
    align-items: center;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: larger;
    transition: all 0.3s ease;
}

nav a:hover{
    scale: 1.25;
    cursor: pointer;
    font-weight: bold;
}

.current-language{
    display: flex;
    align-items: center;
    gap: 8px;
}

.current-language:hover{
    cursor: pointer;
}

.current-language img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.current-language span{
    font-weight: bold;
}

#home{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.diagonal-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: #512da8;
    clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 90px);
    padding: 0 40px;
}

.hero-left {
    margin-left: 2%;
    margin-bottom: 10%;
    width: 40%;
    color: white;
}

.hero-left h1{
    font-size:96px;
}

.hero-left p{
    font-size: 24px;
    text-align: left;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-top: 7%;
}

.buttons button{
    background-color: #ffffff;
    color: #512da8;
    font-size: 18px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-weight: bold;
}

.buttons button:hover{
    background-color: #b8b8b8;
    transform: scale(1.15);
    transition:all 0.2s ease;
    cursor: pointer;
}

.buttons button:active{
    background-color: #757575;
    transform: scale(0.9);
    cursor: pointer;
}

.buttons button{
    transition: all 0.3s ease;
}

.hero-right {
    justify-content: center;
    height: 60vh;
    width: 60vh;
}
